<!-- Css scope -->
{{#section 'css_scope'}}
<!-- Select2 css-->
<link href="/public/libraries/plugins/select2/css/select2.min.css" rel="stylesheet">

<!-- Mutipleselect css-->
<link rel="stylesheet" href="/public/libraries/plugins/multipleselect/multiple-select.css">
{{/section}}

<!-- Javascript scope -->
{{#section 'javascript_scope'}}
<!-- Internal Chart.Bundle js-->
<script src="/public/libraries/plugins/chart.js/Chart.bundle.min.js"></script>

<!-- Peity js-->
<script src="/public/libraries/plugins/peity/jquery.peity.min.js"></script>

<!-- Select2 js-->
<script src="/public/libraries/plugins/select2/js/select2.min.js"></script>

<!-- Internal Morris js -->
<script src="/public/libraries/plugins/raphael/raphael.min.js"></script>
<script src="/public/libraries/plugins/morris.js/morris.min.js"></script>

<!-- Circle Progress js-->
<script src="/public/libraries/js/circle-progress.min.js"></script>
<script src="/public/libraries/js/chart-circle.js"></script>

<!-- Internal Dashboard js-->
<script src="/public/libraries/js/index.js"></script>

{{/section}}

{{#section 'page_header'}}
<!-- Page Header -->
<div class="page-header">
	<div>
		<h2 class="main-content-title tx-24 mg-b-5">Welcome To Dashboard</h2>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item " aria-current="page">Project Dashboard</li>D
		</ol>
	</div>
</div>
<!-- End Page Header -->
{{/section}}