<span class="action-trigger-modal action-public" data-placement="top" data-toggle="tooltip-primary"
    title="Public Currency">
    <i data-id="{{ id }}" class="zmdi zmdi-attachment-alt open-public-modal"></i>
</span>