<div class="custom-switch custom-switch-label-yesno custom-switch-sm pl-0">
    <input class="custom-switch-input trigger-modal switch-button" id="switch-modal-{{id}}" type="checkbox"
        data-id="{{id}}" {{checked}}>
    <label class="custom-switch-btn" for="switch-modal-{{id}}"></label>
</div>
